@tailwind base;
@tailwind components;

html {
  font-family: 'Euclid Circular A', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Semibold */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-SemiboldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Normal */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('../assets/fonts/EuclidCircularA-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/**
 * Value Serif
 */

/* Bold */
@font-face {
  font-family: 'MongoDB Value Serif';
  font-weight: 700;
  src: url('../assets/fonts/MongoDBValueSerif-Bold.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'MongoDB Value Serif';
  font-weight: 500;
  src: url('../assets/fonts/MongoDBValueSerif-Medium.ttf') format('truetype');
}

/* Normal */
@font-face {
  font-family: 'MongoDB Value Serif';
  font-weight: 400;
  src: url('../assets/fonts/MongoDBValueSerif-Regular.ttf') format('truetype');
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(.76,0,.24,1);
}

@tailwind utilities;