OPENAI_API_KEY=<OpenAI API Key>
OPENAI_EMBEDDING_MODEL=text-search-ada-doc-001
OPENAI_EMBEDDING_QUERY_MODEL=text-search-ada-query-001
MONGODB_CONNECTION_URI=mongodb+srv:...
DB_NAME=mongodb-oracle
COLLECTION_NAME=page-data
